# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.exe~
*.tmp
*.test
*.prof
#自动化部署脚本
#git.sh

#routers自动路由生成文件
routers/commentsRouter_controllers.go
routers/commentsRouter_controllers_common.go
#conf
conf/*.conf
vendor/*
main
dragon-back-end
util/util